
// Font Weights
$light : 100;

$regular : 400;

$bold : 600;

// Font Sizes
$small : 0.55em;

$regular : 1em;

$medium : 1.5em;

$large : 2em;

$xlarge : 3em;

// Base Font
$base-font-family : 'Philosopher';

$heading-font-family : 'Julius Sans One', sans-serif;

$content-font-family : 'Open Sans', sans-serif;

// colors
$base-color: rgba(100,66,17,1);

$base-black-overlay: rgba(0,0,0, 0.79);

$base-font-color: rgba(255,216,0,0.79);

// @import "modules/all";