.jumbotron {
	background-color: $base-transparent;
	font-weight: $bold;
	.container-fluid {
		div {
			position: relative;
			width: 99%;
			h1 {
				// font-family: $heading-font-family;
				font-weight: 100;
				color: lighten($base-font-color, 25%);
				text-shadow: 4px 4px 8px darken($base-font-color, 35%);
				text-align: center;
			}
			p {
				font-family: $content-font-family;
				font-weight: $light;
				color: lighten($base-font-color, 95%);
				text-shadow: 4px 4px 8px darken($base-font-color, 35%);
				text-align: center;
			}
		}
	}
}