/* main_navigation */
%hover-fx-bw {
    color:darken($base-font-color, 25%);
}
.navbar.navbar-default {
    background-color: $base-transparent;
}
a.navbar-brand {
    span {
        margin:0; 
        padding:0 0 15px 0;
        position: relative;
        display: inline-block; 
    }
    span.pre {
        display: inline;
        position: relative;
        color: darken($base-font-color, 15%);
        font-size: $medium;
        text-indent: -15px;
        font-family: $special-font-family;
        font-weight: 700;
    }
    span.name {
        font-family: $base-font-family;
        font-size: $medium;
        font-weight: 900;
        letter-spacing: 0.0625em;
        color: lighten($base-font-color, 15%);
        text-shadow: 1px 1px 4px darken($base-font-color-faded, 35%);
        &:hover {
            @extend %hover-fx-bw;
        }
    }
    img {
        width: 20px;
    }
}